@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@500&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&display=swap');

* {
  overflow: hidden;
}

body {
  margin: 30px;
  text-align: center;
  background: #2A2424;
  background-size: cover;
  display: flex;
  justify-content: space-between
}

.todo {
  position: relative; 
  left: 80px;
  top: 180px;
  font-size: 50px;
  font-family: 'Satisfy', cursive;
  font-weight: 500;
  color: white
}

.container {
  position: relative;
  width: 34vw;
  height: 90vh;
  margin: 0 auto;
  overflow: auto;
  border-radius: 10px;
  background-color: #da9600;
 }

@media screen and (max-width: 900px) {

  .container {
    width: 80%;
  }

  .title {
    font-size: 45px !important;
  }

  body {
    flex-direction: column-reverse;
  }
}

.title {
  margin-top: 45px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  font-size: 50px;
  font-family: 'Satisfy', cursive;
  border-radius: 15px;
  padding: 12px 15px;
  color: white;
  z-index: 5;
}

#new-task-input {
  position: relative;
  padding: 15px;
  width: 70%;
  font-family: 'Noto Serif', serif;
  background-color: white;
  border-radius: 10px;
  color: #2C3333;
  font-weight: 600;
  font-size: 20px;
  text-align: center;  
  
}

::placeholder {
  color: rgb(44, 51, 51, 0.7);
  font-weight: 600;
  font-family: 'Noto Serif', serif;
}

main {
  margin-top: 150px;
  padding: 2rem 1rem;
}

.task {
  display: flex;
  margin-left: 20%;
  font-family: 'Noto Serif', serif;
}

input, button {
  appearance: none;
  border: none;
  outline: none; 
  background: none;
}

#tasks .task {
  background-color: #573c00;
  display: flex;
  justify-content: space-between;
  position: relative;
  right: 10%;
  padding: 1rem;
  border-radius: 1rem;
  margin-top: 3px;
  font-family: 'Noto Serif', serif;
}

#tasks .actions button {
  cursor: pointer;
}

.task .actions {
  display: flex;
}

.task .actions .edit {
  color: white; 
  font-weight: 600;
  font-size: 15px;
}

.task .actions .delete {
  color: rgb(110, 226, 241);
  font-size: 15px;
  font-weight: 600;
}

.text {
  color: white;
  font-size: 15px;
  font-weight: 600;
  margin-top: 2px;
  font-family: 'Noto Serif', serif;
}

.task .content {
  color: white;
  font-size: 20px;
  font-weight: 500;
}